.project {
  margin: 0;
  padding: 110px 70px;
}
.project__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  margin: 0 0 23px;
}
.project__text-box {
  border-top: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.project__text-box-point {
  display: flex;
  flex-direction: column;
  width: 550px;
}
.project__text-box-point:last-child {
  margin-left: 40px;
}
.project__subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.project__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.project__timelapse {
  margin-top: 110px;
  display: flex;
}
.project__timelapse-table {
}
.project__timelapse-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project__timelapse-text-box-left {
  background: #3ddc84;
  color: #000000;
  width: 17.81vw;
  height: 36px;
}
.project__timelapse-text-box-right {
  background: #303030;
  width: 71.25vw;
  height: 36px;
}
.project__timelaps-text-en {
  color: #8b8b8b;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 14px 0 0;
}
