.movies {
  width: calc(100% - 140px);
  margin: 0 auto;
}
.movies__search-chekbox-bar {
  display: flex;
}
.movies__search-bar {
  display: flex;
  background: #2f2f2f;
  margin: 0 auto;
  border-radius: 9px;
  justify-content: space-between;
  padding: 0;
  height: 72px;
}
.movies__search-input {
  background-color: #2f2f2f;
  border: none;
}
.movies__search-input:focus {
  border: none;
  outline: none;
  color: #ffff;
}
.movies__search-input-bar {
  display: flex;
  align-items: center;
  margin-left: 19px;
}
.movies__search-btn {
  background-image: url("../../images/find.svg");
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease all;
}
.movies__search-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.movies__search-btn-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.movies__search-btn-label {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  border-left: 1px solid #424242;
  margin: 0 30px;
  padding-left: 29px;
  height: 40px;
}

.movies__search-btn-visible {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 20px;
  transition: all 0.7s ease;
}

.movies__search-btn-invisible:checked + .movies__search-btn-visible {
  background: url("../../images/smalltumb.svg");
  margin: 0 14px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.movies__search-btn-invisible + .movies__search-btn-visible {
  background: url("../../images/smalltumboff.svg");
  margin: 0 14px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.movies__search-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
.movies__serch-btn-box {
  display: flex;
  align-items: center;
}
.movies__card {
  margin: 69px auto 0;
  display: grid;
  column-gap: 20px;
  row-gap: 38px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding-top: 80px;
  border-top: 1px solid #424242;
}

.movies__button {
  width: 100%;
  margin: 50px auto 80px;
  padding: 0;
  border-radius: 6px;
  color: #ffff;
  background: #2f2f2f;
  height: 36px;
  border: none;
  transition: 0.5s ease all;
}
.movies__button:hover {
  cursor: pointer;
  opacity: 0.7;
}
