.header {
  padding: 18px 70px 0;
  display: flex;
  background: #202020;
  height: 74px;
  margin: 0 auto;
  justify-content: space-between;
}
.header__logo {
  width: 38px;
  height: 38px;
  background-image: url(../../images/logo.svg);
}
.header__menu {
  margin: 0;
}
.header__menu-bar {
  margin: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}
.header__menu-point {
  padding: 0;
  margin: 0;
}
.header__menu-btn {
  background: rgba(32, 32, 32, 1);
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.header__menu-btn {
  transition: 0.5s ease all;
  color: white;
}
.header__menu-btn-home-page {
  font-size: 12px;
  line-height: 16px;
}

.header__menu-signin-btn {
  color: black;
  position: absolute;
  background: none;
  top: 8px;
  right: 20px;
}
.header__menu-point-signin {
  background: rgba(61, 220, 132, 1);
  border-radius: 3px;
  position: relative;
  height: 32px;
  width: 76px;
  margin-left: 30px;
}
.header__menu-profile-btn {
  display: flex;
  align-items: center;
  margin-left: 50px;
  line-height: 16px;
}
.header__menu-save-movies-btn {
  margin-left: 20px;
  font-weight: 400;
  line-height: 18px;
}
.header__menu-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.header__menu-profile-btn-icon {
  background: rgb(49, 49, 49);
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin: 0 0 0 16px;
  background-image: url(../../images/profile.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 875px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
    height: 38px;
  }
}
